<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/tox-progress.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Somendra</title>
</head>

<body>

    <div class="navbar-fixed">
        <nav style="background: transparent;">
            <div class="nav-wrapper">
                <div class="container ">
                    <a href="#!" class="brand-logo ">Somendra</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down ">
                        <li><a href="#" >About Us</a></li>
                        <li><a href="index#service" >Services</a></li>
                        <li><a href="#" >Javascript</a></li>
                        <li><a href="#" >Mobile</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
    </ul>

    <!-- banner -->
    <div class="banner"
        style="background: rgb(37,37,198);background: linear-gradient(137deg, rgba(37,37,198,1) 26%, rgba(0,212,255,1) 100%);">
        <canvas class="partical" style="position: absolute;width: 100%;height: 100%;z-index: 0;"></canvas>
        <div class="container">
            <div class="row" style="padding-top: 50px;">
               <div class="col s12 center">
                   <h1 class="" style="font-size: 20vw;text-shadow: -5px 7px 10px #222;">
                        404
                    </h1>
                    <p class="black-text" style="font-size: 5vw;text-shadow: -5px 7px 10px #222;">Not Found</p>
               </div>
                </div>
            </div>
        </div>
        <!-- / / banner -->



        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>

        <script src="/js/tox-progress.js"></script>
        <script src="/js/app.js"></script>
        <script>
        $(document).ready(function(){

            Particles.init({
                selector:  '.partical',
                color: '#fff',
                sizeVariations: 6
            });

        $(window).scroll(function(){
            var scroll = $(window).scrollTop();
            if (scroll > $(".banner").height()) {
                $("nav").css("background" , "blue");
            }
            else{
                $("nav").css("background" , "transparent");  	
            }
        });
    
        })
    </script>
</body>

</html>