<!-- footer -->
    <footer class="page-footer blue accent-3">
        <div class="container">
            <div class="row">
                <div class="col l4 s12">
                    <h5 class="white-text">Get In Touch</h5>
                    <ul>
                        <li><i class="material-icons left">phone</i> +91 9140555401</li>
                        <br>
                        <li><i class="material-icons left">email</i> techhower@gmail.com</li>
                    </ul>
                </div>
                <div class="col l3 offset-l1 s12">
                    <h5>Our Services</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Web Designing</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Web App Development</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Google Ads</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">IT Consultations</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Custom Software Development</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Block Chain Development</a></li>


                    </ul>
                </div>
                <div class="col l3 offset-l1 s12">
                    <h5 class="white-text">Experties</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Web App Development</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Android App Development</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Social Media Marketing</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">SEO</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">E-Commerce Web Development</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Enterprise Applications (ERP)</a></li>


                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">Somendra</a>
            </div>
        </div>
    </footer>
    <!-- / / footer --></footer>