<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/www.svg" type="image/x-icon">
    <title> <%= title %></title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.green.min.css" />

    <link rel="stylesheet" href="css/animate.css" />

    <link rel="stylesheet" type="text/css" href="/css/tox-progress.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">


</head>

<body>

    <div class="navbar-fixed">
        <nav style="background: transparent;">
            <div class="nav-wrapper">
                <div class="container ">
                    <a href="/" class="brand-logo ">Somendra</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger white-text"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down ">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/index#service">Services</a></li>
                        <li><a href="#" class='dropdown-trigger' data-target='Experties1'>Experties <i class="material-icons right">arrow_drop_down</i></a>
                        </li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="tel:+9125615672" class="btn orange">Get Quote</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/about">About Us</a></li>
        <li><a href="/index#service">Services</a></li>
        <li><a href="#" class='dropdown-trigger' data-target='Experties2'>Experties <i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="tel:+9125615672" class="btn orange">Get Quote</a></li>
    </ul>

    <!-- Dropdown Experties -->
    <ul id='Experties1' class='dropdown-content'>
        <li><a class=" blue-text accent-3" href="#!">Web App Development</a></li>
        <li><a class=" blue-text accent-3" href="#!">Android App Development</a></li>
        <li><a class=" blue-text accent-3" href="#!">Social Media Marketing</a></li>
        <li><a class=" blue-text accent-3" href="#!">SEO</a></li>
        <li><a class=" blue-text accent-3" href="#!">E-Commerce Web Development</a></li>
        <li><a class=" blue-text accent-3" href="#!">Enter Application (ERP)</a></li>
    </ul>

    <ul id='Experties2' class='dropdown-content'>
        <li><a class=" blue-text accent-3" href="#!">Web App Development</a></li>
        <li><a class=" blue-text accent-3" href="#!">Android App Development</a></li>
        <li><a class=" blue-text accent-3" href="#!">Social Media Marketing</a></li>
        <li><a class=" blue-text accent-3" href="#!">SEO</a></li>
        <li><a class=" blue-text accent-3" href="#!">E-Commerce Web Development</a></li>
        <li><a class=" blue-text accent-3" href="#!">Enter Application (ERP)</a></li>
    </ul>